torch==2.0.1
torchsde==0.2.6
torchvision==0.15.2
torchaudio==2.0.2
einops
transformers>=4.25.1
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:
kornia>=0.7.1
spandrel
